.heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
    font-size: 15px;
  }
  .heading_div2
  {
    font-size: 18px;
  }
  .copyrightimg{
    text-align: center;
position: fixed;
bottom: 0;
width: 100%;
color: green;
background-color: darkorange;
line-height: 3;
}
canvas{
    border: 5px solid white;
    box-shadow: 5px 5px 5px gray;
    border-radius: 20px;
    margin-top: 170px;
}
